<!doctype html>
<html class="stickyfooter" lang="en">
<head>
<meta charset="utf-8" />
<title><%= htmlWebpackPlugin.options.title %></title>
<meta name="author" content="µKöff" />
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="anonymous" />
<link rel="stylesheet" href="css/style.css" />
</head>

<body>
<div id="content">
	<main>
		<aside id="item-aside">
			<header id="header-main">
				<h1><%= htmlWebpackPlugin.options.title %></h1>
			</header>
			<div class="aside-main">
				<header id="item-header" class="aside-header loadingindicator">
					<div class="aside-header" data-page="geocoding">
						<h2><a class="aside-arrowback" href="#home"><img src="img/arrow.svg" /></a> <span>Search requests</span></h2>
					</div>
					<div class="aside-header visible" data-page="home">
						<div id="item-header-top-image"></div>
						<h2><span>Welcome!</span></h2>
					</div>
					<div id="item-loadingindicator-wrapper">
						<div id="item-loadingindicator"></div>
					</div>
				</header>
				<div id="errormsg-wrapper">
					<ul></ul>
				</div>
				<div class="aside-page content-padding" data-page="geocoding">
					<input id="geocoding-query" type="text" />
					<div id="geocoding-results"></div>
				</div>
				<div class="aside-page content-padding visible" data-page="home">
					<button id="request" class="button" type="button" disabled>Find Wikidata items in visible bounding box</button>

					<h3>Settings</h3>
					<form>
						<fieldset>
							<legend>Limit of downloaded bindings</legend>
							<input id="settings_bindingsLimit" type="number" value="1000" />
						</fieldset>
						<fieldset>
							<legend>Wikidata label languages</legend>
							<input id="settings_wdLabelLanguages" type="text" value="en" />
						</fieldset>
					</form>
				</div>
			</div>
			<footer id="footer">
				<div id="footer-legal">
					Tool made by <a href="https://muekev.de/" target="_blank" rel="noopener">nw520</a> <small>(<a href="https://osm.org/user/nw520" target="_blank" rel="noopener">@ OSM</a>, <a href="https://www.wikidata.org/wiki/User:Nw520" target="_blank" rel="noopener">@ Wikidata</a>)</small>.<br/>
					<a href="https://gitlab.com/muekoeff/ubiquitous-wikidata/" target="_blank" rel="noopener">Source code @ GitLab</a> &bull; <a href="https://gitlab.com/muekoeff/ubiquitous-wikidata/issues" target="_blank" rel="noopener">Report bugs @ GitLab</a>
				</div>
				<div id="footer-attribution">
					<strong>Data taken from:</strong>
					<a href="https://osm.org/" rel="noopener noreferrer" target="_blank"><img alt="OpenStreetMap logo" height="18" src="https://upload.wikimedia.org/wikipedia/commons/b/b0/Openstreetmap_logo.svg" /></a>
					<a href="https://wikidata.org/" rel="noopener noreferrer" target="_blank"><img alt="Wikidata logo" height="18" src="https://upload.wikimedia.org/wikipedia/commons/f/ff/Wikidata-logo.svg" /></a><br/>
					<strong>Powered by:</strong> <a href="https://sophox.org/" rel="noopener noreferrer" target="_blank">Sophox</a>, <a href="https://query.wikidata.org/" rel="noopener noreferrer" target="_blank" title="Wikidata Query Service">WDQS</a><br/>
					<a href="https://www.iconfinder.com/icons/106156/" rel="noopener noreferrer" target="_blank">Pin icon</a> and <a href="https://www.iconfinder.com/icons/106236/" rel="noopener noreferrer" target="_blank">Search icon</a> by Victor Erixon, <a href="https://www.iconfinder.com/icons/211686/" rel="noopener noreferrer" target="_blank">Arrow icon</a> by Ionicons
				</div>
			</footer>
		</aside>
		<div id="map-wrapper">
			<div id="map"></div>
		</div>
	</main>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin="anonymous"></script>
<script src="https://unpkg.com/osmtogeojson@3.0.0-beta.4/osmtogeojson.js" integrity="sha384-8hBJfN9yC84ZPvp94DDriWHFc6wtxe4Vm/7aCdH0w7mqJqQ2T/r/x50tXbIj1Gkh" crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet-hash@0.2.1/leaflet-hash.js" integrity="sha384-2V+X2eD8Nz+G+FVKmPS5XkcMt40qrSGaHSoV8Ny7VAvPnHMfnLgrZ6qvNZVJ2ycb" crossorigin="anonymous"></script>
</body>
</html>
